@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p><img src="~/Images/privacy.gif" alt="енот" width="500px"></p>
<p><img src="~/Images/123.jpg" alt="нечто" width="500px"></p>

<p>Hello from our View Template!</p>