@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="get" action="">
        <input name="login" value="" type="text"  maxlength="255" required="" placeholder="логин">
        <input name="password" value="" type="password"  required="" placeholder="пароль">
        <input type="submit" value="Войти">
    </form>
    
    <p>Learn about <a href="~/Registration">building Web apps with ASP.NET Core</a>.</p>
</div>
